* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #f3fcfd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* FLASH Message */
.flash-msg {
  background-color: #0e5a69;
  color: #f9fdfe;
  text-align: center;
  padding: 10px 20px;
}

/* NAV Section*/
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  background-color: #caf0f8;
}

.nav-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.nav-title a {
  text-decoration: none;
  color: #0b444f;
}

.nav-title a:hover {
  color: #127183;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  font-size: 22px;
  text-decoration: none;
  color: #0b444f;
}

.nav-links li a:hover {
  color: #127183;
}

/* HERO Section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15%;
  gap: 20px;
}

.hero h1 {
  font-size: 60px;
  color: #0b444f;
}

.hero p {
  font-size: 36px;
  color: #0e5a69;
}

.action-btn {
  margin-top: 20px;
  padding: 10px 20px;

  font-size: 20px;
  text-decoration: none;
  color: #127183;
  font-weight: 600;

  border-radius: 5px;
  border: none;
  background-color: #d1f2f9;
}

.action-btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  color: #199eb8;
}

/* UPLOAD Section */
.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 10px;
}

.upload-title {
  font-size: 50px;
  font-weight: 500;
  color: #0b444f;
  text-transform: capitalize;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.upload-form-textlabel {
  color: #0e5a69;
}

.upload-form-textarea {
  /* Set the width and height of the textarea */
  width: 350px;
  height: 150px;
  margin-bottom: 10px;

  padding: 10px 10px;
  font-size: 15px;
}

.upload-form-file {
  padding-left: 25%;
  font-size: 16px;
}

.upload-form-submit {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 7px 30px;
  background-color: #d1f2f9;
  color: #127183;
  margin-bottom: 10px;
}

.upload-form-submit:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  color: #199eb8;
}

.upload-selected-file {
  font-weight: 600;
  font-size: 22px;
  color: #0b444f;
}

#fileList li {
  color: #0e5a69;
  line-height: 1.75;
  list-style: none;
}

/* RESULT Section */
.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 3% 5%;
}

.result-title {
  font-weight: 500;
  font-size: 45px;
  color: #0b444f;
}

.result-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.result-candidate {
  background-color: rgba(29, 181, 211, 0.1);
  color: #0e5a69;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 20px;
  border-radius: 15px;
}

.candidate {
  font-size: 21.5px;
}

.score {
  background-color: rgba(174, 245, 220, 0.4);
  border-radius: 50%;
  padding: 30px;
  font-size: 21.5px;
}

/* ABOUT Section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15%;
  gap: 20px;
}

.about-section h1 {
  font-size: 60px;
  color: #0b444f;
}

.about-section p {
  font-size: 36px;
  color: #0e5a69;
  padding-left: 20px;
  padding-right: 20px;
}
