{% extends 'base.html' %} {% block title %}Upload Resumes{% endblock %} {% block
content %}
<section class="upload-section">
  <div class="upload-title">Rank your candidates</div>
  <form
    class="upload-form"
    id="upload-form"
    action="{{ url_for('views.upload') }}"
    method="post"
    enctype="multipart/form-data"
  >
    <label class="upload-form-textlabel" for="longText"
      >Enter or paste your job requirements:</label
    >
    <textarea
      class="upload-form-textarea"
      id="longText"
      name="longText"
      placeholder="Please enter your job requirements here..."
    ></textarea>

    <label class="upload-form-textlabel" for="longText"
      >Please choose your candidate files to upload (PDF only)</label
    >
    <input
      class="upload-form-file"
      id="upload-form-file"
      type="file"
      name="pdf_files"
      multiple
      accept=".pdf"
    />
    <input class="upload-form-submit" type="submit" value="Upload" />
  </form>
  <p class="upload-selected-file">Selected Files:</p>
  <ul id="fileList"></ul>
</section>

{% endblock %}
